@import url(//fonts.googleapis.com/css?family=Rancho);
@import url(//fonts.googleapis.com/css?family=Special+Elite);

/*

CSS Styles for Jog

TODO: Convert font-size to em where not already em

*/

*, body, html {
    font-family: verdana;
    background-color: #eee;
}

a {
    text-decoration: none;
    color: #00f;
}

nav, nav a {
    font-size: 0.9em;
    text-align: center;
    font-family: 'Special Elite', verdana;
}

section {
    text-align: center;
    width: 800px;
    margin: auto;
}

header h1, header a {
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Special Elite', verdana;
    font-size: 60px;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
    color: #444;
    text-decoration: none;
}

header h2{
    margin-top: 5px;
    font-family: 'Special Elite', verdana;
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 3px 3px #aaa;
    color: #333;
    text-decoration: none;
}

footer {
    margin-top: 100px;
    font-family: verdana;
    font-size: x-small;
    text-align: center;
}
