@import url(//fonts.googleapis.com/css?family=Old+Standard+TT:400,700,400italic);
@import url(//fonts.googleapis.com/css?family=Rancho);
@import url(//fonts.googleapis.com/css?family=Special+Elite);
@import url(//fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

/*

CSS Styles for Jog

TODO: Convert font-size to em where not already em

*/

*, body, html {
    font-family: verdana;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #00f;
}

nav, nav a {
    font-size: 0.9em;
    text-align: center;
    font-family: 'Old Standard TT', verdana;
}

section {
    text-align: center;
    width: 800px;
    margin: auto;
}

pre {
    background-color: #F9F9F9;
    border: 1px dashed #2F6FAB;
    color: black;
    line-height: 1.1em;
    padding: 1em;
}

code{
    background-color: #F9F9F9;
    font-family: courier;
    color: black;
}

h1, h2, h3, h4 {
    font-family: 'Old Standard TT', verdana;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.1em;
}

header h1, header a {
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: 'Old Standard TT', verdana;
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 3px #aaa;
    color: #444;
    text-decoration: none;
}

header h2{
    margin-top: 5px;
    font-family: 'Old Standard TT', verdana;
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 3px 3px #aaa;
    color: #333;
    text-decoration: none;
}

header {
    margin-bottom: 30px;
}

footer {
    margin-top: 100px;
    text-align: center;
}

footer * {
    font-size: 0.8em;
    font-family: 'Old Standard TT', verdana;
}

.flash {
    text-align: center;
    background: #cee5F5;
    padding: 0.5em;
    border: 1px solid #aacbe2;
    margin-bottom: 1em;
}

.shadow{
    text-shadow: 2px 2px 2px #bbb;
}

.entries{
    text-align: justify;
}

.entry {
    padding: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    box-shadow: 6px 6px 3px #888888;
    margin-bottom: 30px;
}

.entry h1, .entry h2, .entry h3, .entry h4 {
    font-family: 'Old Standard TT', verdana;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.entry_date{
    font-size: 0.8em;
}
