{% extends "layout.html" %}
{% block content %}
<form action="" method="POST">
    <table>
        <tr>
            <th style="text-align:left">Title</th>
            <td style="text-align:left"><input type="text" name="title" style="width: 400px;" value="{{ entry.title }}"></td>
        </tr>
        <tr>
            <th style="text-align:left">Body</th>
            <td style="text-align:left"><textarea name="body" style="width: 400px; height:300px;">{{ entry.body }}</textarea></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Edit"></td>
        </tr>
    </table>
</form>
{% endblock %}
