{% extends "layout.html" %}
{% block content %}
    <div class="entries">
    {% for entry in entries %}
        <div class="entry">
            <a href="{{ url_for('show_post', post_id = entry.id) }}"><h1 class="shadow">{{ entry.title }}</h1></a>
            <div class="entry_date">{{ entry.date_created }}</div>
            <div>{{ entry.body|safe }}</div>
            <div><a href="{{ url_for('show_post', post_id = entry.id) }}#comments">Comments</a>{% if session.logged_in %} |
            <a href="{{ url_for('edit_post', post_id = entry.id) }}">Edit</a>
            {% endif %}</div>
        </div>
    {% else %}
        <em>Entry not found.</em>
    {% endfor %}
    </div>
{% endblock %}
